*.a
*.d
*.mic
*.mod
*.o
*~

tmp.*

*.OUT
*.RES
*.LOG

Size*

# Code Info
compile_commands.json
tags
TAGS
.ctags

# OS Lint
.DS_Store
._.DS_Store
src/._.DS_Store
.dirstamp

Makefile

# IDE Lint
build/
.build/
.vscode/

# Tex Lint
doc/UsersGuide/*.aux
doc/UsersGuide/*.dvi
doc/UsersGuide/*.idx
doc/UsersGuide/*.log
doc/UsersGuide/*.out
doc/UsersGuide/*.pdf
doc/UsersGuide/*.ps
doc/UsersGuide/*.toc

*.swp
*.swo

exec/*.ex
exec/tmp_build_dir/
exec/Backtrace.*
test_2d/Backtrace.*
test_2d/Backtrace.*
exec/plt*/
exec/chk*/
exec/movie.visit
exec/*.vtp
exec/*.pvtp
test/*.ex
test_2d/*.ex
test_3d/*.ex
test/tmp_build_dir/
test_3d/tmp_build_dir/
test/Backtrace.*
test/*plt*/
test_2d/*plt*/
test_3d/*plt*/
test/chk*/
test_2d/chk*/
test_3d/chk*/
